.card {
  width: 430px;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  box-shadow: 3px 6px 16px 11px #888888;

  h2 {
    padding: 10px;
    word-wrap: break-word;
    font-size: 30px;
  }
  h3 {
    padding: 10px;
  }

  img {
    width: 100%;
  }

  button {
    margin: 0 auto 33px;
  }
}